:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4538f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button{
  padding: 10px;
  margin: 0 20px;
  font-size: 25px;
}

.counter{
  font-size: 30px;
}

.Counter{
  margin-top: 20px;
}

/* Form Styling Start */

.loginHeading {
  margin-bottom: 20px;
  font-size: 48px;
}

form {
  background: #7ee369;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #2563eb;
}

.formButton {
  width: 100%;
  padding: 12px;
  margin: 0;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #1d4ed8;
}

/* Form Styling End */

/* Protected Route styling Start */
.ProtectedRouteContainer {
  text-align: center;
  margin-top: 100px;
}

.ProtectedRouteContainer input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.ProtectedRouteContainer button {
  padding: 10px 20px;
  cursor: pointer;
}
/* Protected Route styling End  */

/* List Products Start */
.product-card {
  border: 1px solid #ccc;
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}
/* List Products End */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} 
